:root {
  --pastel-rose: #f2a2a8;
  --navy: #1a3053;
  --summer-sky: #4dd5ee;
  --faded-blue: #5a93b9;
  --spring-green: #a8f2a2;
  --black: #020711;
  --cream: #fdf8ed;
}

.headings-main {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.975rem;
  text-transform: none;
  color: var(--black);
  margin-bottom: 20px;
}

.logo {
  padding-left: 1rem;
}

body {
  font-family: 'Merriweather', serif;
  background-color: var(--navy);
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; 
  background-color: var(--navy);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}


.header .logo img {
  height: 100px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
}

.header nav {
  display: flex;
  gap: 30px;
}

.header nav a {
  color: var(--cream);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.header nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--summer-sky);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.main-content .text {
  max-width: 50%;
}

.main-content .text {
  max-width: 50%;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.header_heading {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.875rem;
  text-transform: none;
  color: var(--cream);
  margin-bottom: 20px;
}

.header_text {
  font-family: Merriweather, serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.938;
  text-transform: none;
  color: var(--cream);
}

.header_span {
  color: var(--pastel-rose);
}

.main-content .text a {
  color: var(--cream);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  font-size: 1.125rem;
}

.main-content .text a:hover {
  color: var(--summer-sky);
}

.main-content .image {
  max-width: 40%;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.main-content .image img {
  width: 100%;
}

.main-content .image {
  max-width: 40%;
}

.main-content .image img {
  width: 100%;
}

.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  color: #888;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: var(--navy);
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-active a {
    padding: 10px 20px;
    border-bottom: 1px solid var(--summer-sky);
  }

  .nav-active a:last-child {
    border-bottom: none;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .logo {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 10px;
  }

  .nav-items {
    display: flex;
    justify-content: center;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }

  .header .logo img {
    height: 80px; /* Adjust height as needed */
  }

  .header nav {
    width: 100vw;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .main-content .text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content .image {
    max-width: 80%;
  }
}

.we-provide-container {
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cream-block {
  width: 100vw;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.cream-block-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 4rem); /* Example: subtracting a fixed padding/margin */
  max-width: 1320px; /* Set a max-width to ensure it doesn't get too wide on large screens */
  padding: 2rem; /* Add some padding for spacing */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.info-block-title {
  font-family: 'Borsok';
  padding-bottom: 1rem;
  line-height: 1.4;
  font-size: 3rem;
}

.donut-people-image {
  height: 35rem;
  width: 35rem;
}

.chef-image {
  padding-top: 4rem;
  width: 35rem;
  height: 35rem;
}

.info-block-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.info-block {
  color: var(--black);
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.about-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-us-text {
  padding-left: 2rem;
  text-align: left;
}

.about-us {
  color: var(--black);
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.we-provide-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;

  font-family: 'Merriweather';
  font-size: 2rem;
  text-align: left;
  padding: 2.5rem;
  color:var(--black);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.we-provide-text-header {
  padding-left: 0.5rem;
  padding-bottom: 2.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
  text-align: left;
  font-size: 1.75rem;
}

.custom-bullets-text {
  padding: 1rem;
}
.custom-bullets {
  list-style: none; /* Remove default bullets */
  padding-top: 1.5rem;
  margin: 0;
}

.paragraph-main {
  font-family: Merriweather, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.938;
  text-transform: none;
  color: var(--black);
}

.custom-bullets li {
  background-image: url('./images/donut_point.png'); /* Path to your donut icon */
  background-size: 20px 20px; /* Adjust the size of the icon */
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: 0 50%; /* Align the icon vertically center */
  padding-left: 3rem; /* Space for the icon and text */
  margin-bottom: 8px; /* Space between list items */
}


/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .header .logo img {
    height: 90px; /* Adjust height as needed */
  }

  .header nav {
    gap: 20px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
  }

  .main-content .text {
    max-width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content .image {
    max-width: 60%;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .info-block-container,
  .about-us-container {
    flex-direction: column;
  }
  .contact-form-container {
    width: 90%;
  }
  .chef-image,
  .donut-people-image {
    width: 100%;
    height: auto;
  }
  .we-provide-text {
    flex-direction: column;
  }


  .info-block-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0; /* Remove padding to use full width */
  }

  .about-us-container {
      flex-direction: column;
      align-items: center;
      width: 100%; /* Ensure full width */
      padding: 0; /* Remove padding to use full width */
  }

  h3 {
    color: var(--black);
  }

  .we-provide-container {
      color: var(--black);
      flex-direction: column;
      align-items: center;
      width: 100%; /* Ensure full width */
      padding: 0; /* Remove padding to use full width */
  }

  .chef-image,
  .donut-people-image {
      width: 100%;
      height: auto;
  }

  .info-block,
  .about-us,
  .we-provide-text {
      padding: 1em;
  }

}


@media (max-width: 767px) {
  .info-block-container,
  .about-us-container {
      flex-direction: column;
  }

  .info-block-container img,
  .about-us-container img {
      order: -1; /* Move images above text blocks */
      width: 100%; /* Make images responsive */
  }
}