:root {
  --pastel-rose: #f2a2a8;
  --navy: #1a3053;
  --summer-sky: #4dd5ee;
  --faded-blue: #5a93b9;
  --spring-green: #a8f2a2;
  --black: #020711;
  --cream: #fdf8ed;
}

.logo {
  padding-left: 1rem;
}

body {
  font-family: 'Merriweather', serif;
  background-color: var(--navy);
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; 
  background-color: var(--navy);
}

.header .logo img {
  height: 100px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
}

.header nav {
  display: flex;
  gap: 30px;
}

.header nav a {
  color: var(--cream);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.header nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--summer-sky);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.header nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.main-content .text {
  max-width: 50%;
}

.main-content .text {
  max-width: 50%;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.875rem;
  text-transform: none;
  color: var(--cream);
  margin-bottom: 20px;
}

p {
  font-family: Merriweather, serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.938;
  text-transform: none;
  color: var(--cream);
}

span {
  color: var(--pastel-rose);
}

.main-content .text a {
  color: var(--cream);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  font-size: 1.125rem;
}

.main-content .text a:hover {
  color: var(--summer-sky);
}

.main-content .image {
  max-width: 40%;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.main-content .image img {
  width: 100%;
}

.main-content .image {
  max-width: 40%;
}

.main-content .image img {
  width: 100%;
}

.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  color: #888;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: var(--navy);
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-active a {
    padding: 10px 20px;
    border-bottom: 1px solid var(--summer-sky);
  }

  .nav-active a:last-child {
    border-bottom: none;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .logo {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .container {
    padding: 10px;
  }

  .nav-items {
    display: flex;
    justify-content: center;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }

  .header .logo img {
    height: 80px; /* Adjust height as needed */
  }

  .header nav {
    width: 100vw;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .main-content .text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content .image {
    max-width: 80%;
  }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .header .logo img {
    height: 90px; /* Adjust height as needed */
  }

  .header nav {
    gap: 20px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
  }

  .main-content .text {
    max-width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-content .image {
    max-width: 60%;
  }
}